AUTH_SECRET=replace-with-a-long-random-secret
AUTH_GOOGLE_ID=replace-with-google-client-id
AUTH_GOOGLE_SECRET=replace-with-google-client-secret
AUTH_ADMIN_EMAILS=owner@example.com,admin@example.com,mzarko018@gmail.com
CRON_SECRET=replace-with-a-long-random-secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_PORT=3000
# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-weathered-water-awo1nhox.c-12.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_2IljdG3yqifB

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_2IljdG3yqifB
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_2IljdG3yqifB@ep-weathered-water-awo1nhox-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require